.toggle {
  align-items: center;
  background-color: #bcb4b4;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  border-radius: 0.4rem;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 40px;
}

.toggle span {
  background-color: #1a202d;
  border-radius: 4px;
  height: 4px;
  left: 5px;
  position: absolute;
  width: 30px;
  transition: transform 0.5s ease, width 0.5s ease;
}

.toggle span:nth-child(1) {
  transform: translateY(-12px);
  width: 20px;
  left: 5px;
}

.toggle span:nth-child(2) {
  transform: translateY(12px);
  width: 15px;
  left: 5px;
}

/*=== Estilo para cunado se hace toggle ===*/

.toggle.active span:nth-child(1) {
  transform: translateY(0px) rotate(45deg);
  width: 30px;
}

.toggle.active span:nth-child(2) {
  transform: translateY(0px) rotate(315deg);
  width: 30px;
}

.toggle.active span:nth-child(3) {
  transform: translateX(60px);
}
