.login__container {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  width: 100%;
}

.login__content {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  padding: 2rem 1rem;
  max-width: 350px;
}

.form__content-descrip {
  margin-bottom: 1rem;
}

.form__content-descrip > small {
  color: var(--color-danger);
  display: block;
  font-weight: bold;
  text-align: center;
}

.form__title {
  text-align: center;
  margin-bottom: 0.5rem;
}

.form__title span {
  color: crimson;
  font-size: 2rem;
  font-weight: 400;
}

.form-control > label {
  margin-bottom: 0.4rem;
}

.form-control > input {
  margin-bottom: 0.5rem;
  padding-left: 5px;
}

.form__btn-content {
  margin: 1rem 0;
}

.btn__log {
  align-items: center;
  display: flex;
  margin-left: auto;
}

.btn__log svg {
  margin-left: 5px;
}

.form__cuenta {
  text-align: center;
  margin-top: 1.5rem;
}

.form__cuenta > a {
  color: var(--color-danger);
  font-weight: bold;
  font-size: 0.9rem;
}
