*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --text-muted: #7d858d;
  --color-primary: #1a202d;
  --color-fondo: #f0f2f5;
  --color-texto: #1a202d;
  --bg-card-color: #ffffff;

  --color-primary-trans: rgba(26, 32, 45, 0.9);
  --color-secundary: #021626;
  --color-secundary-trans: rgba(2, 22, 38, 0.9);
  --color-danger: #dc143c;
  --color-danger-trans: rgba(220, 20, 60, 0.5);
  --color-warning: #ff8c00;
  --color-warning-trans: rgba(255, 140, 0, 0.9);
  --color-success: #008000;
  --color-success-trans: rgba(0, 128, 0, 0.9);
  --color-info: #259385;
  --color-info-trans: rgba(37, 147, 132, 0.9);
  --color-dark: #262626;
  --color-dark-trans: rgba(38, 38, 38, 0.9);
  --color-dark-deep: #1e1e1e;
  --color-dark-deep-trans: rgba(30, 30, 30, 0.9);
  --color-white: #f7f7f7;
  --color-white-trans: rgba(247, 247, 247, 0.9);
  --color-claro: #bcb4b4;
  --color-claro-trans: rgba(188, 180, 180, 0.9);
  --color-verde-oscuro: #072736;
  --color-verde-oscuro-trans: rgba(7, 39, 54, 0.9);
  --color-sombra: #a9a9a9;
  --color-gris: #edf2f6;
  --color-gris2: #2f3848;
  --border: 4px;

  --webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  --box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);

  --webkit-box-shadow2: inset -1px 3px 8px 5px #1f87ff, 2px 5px 16px 0px #0b325e,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  --box-shadow2: inset -1px 3px 8px 5px #1f87ff, 2px 5px 16px 0px #0b325e,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.text-danger {
  color: crimson;
}

html {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-fondo);
  color: var(--color-texto);
  margin: 0;
  overflow-x: hidden;
  position: relative;
}

body.dark {
  --color-texto: hsl(0, 0%, 83%);
  --color-fondo: hsl(0, 0%, 15%);
  --bg-card-color: hsl(0, 0%, 20%);
}

body::-webkit-scrollbar {
  width: 8px; /* Tamaño del scroll en vertical */
  height: 8px; /* Tamaño del scroll en horizontal */
  /* display: none; */ /* Ocultar scroll */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
body::-webkit-scrollbar-thumb {
  background: var(--color-danger);
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
body::-webkit-scrollbar-thumb:hover {
  background: var(--color-danger-trans);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
body::-webkit-scrollbar-thumb:active {
  background-color: black;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
}

p {
  margin: 0;
}

[id] {
  scroll-margin-top: 2ex;
}

/*===  Fin de Configuracione Globales ===*/

/* @media (hover: hover) {
  .boton:hover {
  }
} */

.btn {
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  display: inline-block;
  margin: 1px;
  padding: 0.5rem 1.7rem;
  outline: none;
  transition: color 0.3s ease, background-color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

.btn__primary {
  background-color: var(--color-primary);
  color: var(--color-gris);
}

.btn__primary:focus,
.btn__primary:hover {
  background-color: var(--color-primary-trans);
  box-shadow: 0 0 0 2px #0275d8;
  color: var(--color-gris);
}

/* Outline */
.btn__outline-primary {
  box-shadow: 0 0 0 2px var(--color-primary);
  color: var(--color-primary);
}

.btn__outline-primary:focus,
.btn__outline-primary:hover {
  background-color: var(--color-primary-trans);
  box-shadow: 0 0 0 2px #0275d8;
  color: var(--color-gris);
}

.form-control {
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.4375rem;
  font-size: 1rem;
}

select,
input {
  border: 0;
  border-radius: var(--border);
  box-shadow: 0 0 0 2px var(--color-primary-trans);
  outline: none;
  color: var(--color-primary);
  padding: 0.5rem 0.2rem;
  font-size: 15px;
}

select {
  padding: 0.2rem;
}

option {
  background-color: var(--color-primary);
  color: var(--color-gris);
}

button:disabled {
  background-color: #ccc;
  color: #999;
}
button:disabled:hover {
  background-color: #ccc;
  color: #999;
}

.card__sombra {
  background-color: var(--bg-card-color);
  box-shadow: -3px 0px 13px -7px #000000, 3px 0px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  border-radius: var(--border);
}

.card__shadow {
  background-color: var(--bg-card-color);
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  border-radius: var(--border);
}

input[type='radio'],
input[type='checkbox'] {
  display: none;
}
.itemNoti__respuesta label {
  padding-left: 1.25em;
  background: url('./assets/img/check.png') no-repeat top left;
}
input[type='radio'] + label {
  background-position: 0 -42px;
  width: 24px;
  height: 24px;
}
input[type='radio']:checked + label {
  background-position: 0 -71px;
  width: 24px;
  height: 24px;
}
input[type='checkbox'] + label {
  background-position: 0 0;
  width: 16px;
  height: 16px;
}
input[type='checkbox']:checked + label {
  background-position: 0 -21px;
  width: 16px;
  height: 16px;
}

.d-none {
  display: none;
}
